
<section class="m-3">

  <div class="container mt-3">
    <h1>Record a New Achievement</h1>
    <div class="row">
      
      <div class="col">

        <form class="new-post-form">

          <div class="mb-3">
            
            <label for="post-title-input" class="form-label">Post Title</label>
            <input type="text" class="form-control" id="post-title-input" placeholder="Look at what I did!">

          </div>
        
          <div class="mb-3">
            
            <label for="post-achievement-input" class="form-label">Achievement Name</label>
            <input type="text" class="form-control" id="post-achievement-input" placeholder="Achievement">

          </div>

          <div class="mb-3">

            <label for="game-select-input" class="form-label">Game</label>
            <input class="form-control" list="datalistOptions" id="game-select-input" placeholder="Type to search for a game...">
            <datalist id="datalistOptions">
              
              {{#if games.length}}
                {{#each games as |game|}}

                  <option value="{{game.game_title}}">
      
                {{/each}}
              {{/if}}

            </datalist>

          </div>
          <button type="submit" class="btn btn-primary mb-3">Claim!</button>

        </div>

      </form>

    </div>

    <div class="row">
      <h1>Your Achievements</h1>
      
        {{#if posts.length}}
        
          {{#each posts as |post|}}
            <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
            
            <img src="{{post.image.img_url}}" class="card-img-top" alt="...">
              <div class="card-body">

                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.achievement.title }}</h6>
                 <div class="d-grid gap-1 mb-2">
                 <a href="/post/{{post.id}}"class="btn btn-primary btn-sm">{{post.comments.length}} comments(s)</a>
                <a href="/dashboard/edit/{{post.id}}" class="btn btn-secondary btn-sm">Edit Post</a>
                </div>
                <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
              </div>
            </div>
            </div>
          {{/each}}
          
          {{else}}

          No achievements recorded yet. Too bad!
        
        {{/if}}
      

    </div>

  </div>

</section>

<script src="/javascript/createpost.js"></script>

